* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 200px 48px;
}

.logo-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.left-links {
    display: flex;
    color: #e5e7eb;
    list-style-type: none;
    gap: 24px;
    font-size: 18px;
}

a {
    color: inherit;
}

.main-1 {
    background-color: #1f2937;
    display: flex;
    padding-bottom: 48px;
    align-items: flex-start;
}

.left {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    margin-right: auto;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.paragraph {
    font-size: 18px;
    color: #e5e7eb;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 24px;
    margin-bottom: 12px;
}

.main-1 img {
    height: 350px;
    padding-right: 200px;
}

.sign-up {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    padding: 8px;
    background-color: #3882f6;
    border: 0;
    border-radius: 5px;
    color: #e5e7eb;
    font-weight: bold;
    width: 100px;
}

.main-2 h2 {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.information {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.turbine {
    height: 200px;
    border: 5px solid #4881dd;
    border-radius: 5px;
}

.main-3 {
    background-color: #e5e7eb;
    padding: 100px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    margin: 0 100px;
}

.reference {
    align-self: flex-end;
    margin: 16px 100px 0;
}

.main-4 {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    padding: 40px 0;
    width: 100%;
    margin: 0 200px;
    color: #e5e7eb;
    gap: 300px;
}